<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial;
        margin: 40px;
      }
      h2 {
        text-align: center;
      }
      .firma {
        margin-top: 80px;
      }
    </style>
  </head>
  <body>
    <h2>CONTRATO LABORAL</h2>

    <p>
      Yo, <strong th:text="${nombre}"></strong>, con cédula
      <strong th:text="${cedula}"></strong>, acepto formar parte de la
      institución.
    </p>

    <p>Fecha: <span th:text="${fecha}"></span></p>

    <div class="firma">
      ___________________________<br />
      Firma del servidor
    </div>
  </body>
</html>
